[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
gguf = "*"
pytest = "*"
jupyterlab = "*"
ipykernel = "*"
jupyter = "*"
torchsummary = "*"
matplotlib = "*"
scikit-learn = "*"

[requires]
python_version = "3.8"

[dev-packages]
